<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel="stylesheet" href="http://demos.jquerymobile.com/1.4.5/css/themes/default/jquery.mobile-1.4.5.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' >
    <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.js" ></script>
    <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.mobile-1.4.5.min.js" ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/gb/gb-all.js"></script>
    <script src="http://code.highcharts.com/mapdata/custom/world.js"></script>

</head>
<body>


<div class="left-box">
    <h1>기존검색엔진</h1>
    <table data-role="table" id="table-custom-1" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
                 <thead>
                   <tr class="ui-bar-d">
                        <th data-priority="3">카테고리1</th>
                        <th data-priority="4" >카테고리2</th>
                        <th data-priority="1">상품명</th>
                        <th data-priority="2">가격</th>
                        <th data-priority="5">지역1</th>
                        <th data-priority="5">지역2</th>
                        <th data-priority="5" class="ui-table-cell-hidden">startdate</th>
                        <th data-priority="5" class="ui-table-cell-hidden">goodsgrade</th>
                        <th data-priority="5" class="ui-table-cell-hidden">goodscode</th>
                        <th data-priority="5" class="ui-table-cell-hidden">imageurl</th>
                       </tr>
                 </thead>
                 <tbody>
        <%- htmlResultO %>
        </tbody>
    </table>

</div>

<div class="right-box">
    <h1>신규 검색엔진</h1>
    <table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
                 <thead>
                   <tr class="ui-bar-d">
                        <th data-priority="3">카테고리1</th>
                        <th data-priority="4" >카테고리2</th>
                        <th data-priority="1">상품명</th>
                        <th data-priority="2">가격</th>
                        <th data-priority="5">지역1</th>
                        <th data-priority="5">지역2</th>
                        <th data-priority="5" class="ui-table-cell-hidden">startdate</th>
                        <th data-priority="5" class="ui-table-cell-hidden">goodsType</th>
                        <th data-priority="5" class="ui-table-cell-hidden">goodscode</th>
                        <th data-priority="5" class="ui-table-cell-hidden">imageurl</th>
                        <th data-priority="5" class="ui-table-cell-hidden">airline</th>
                        <th data-priority="5" class="ui-table-cell-hidden">airplan</th>
                        <th data-priority="5" class="ui-table-cell-hidden">facility</th>
                        <th data-priority="5" class="ui-table-cell-hidden">position</th>
                       </tr>
                 </thead>
                 <tbody>
        <%- htmlResult1 %>
        </tbody>
    </table>
</div>


<div id="container"></div>


</body>
<script>
    $( "#target" ).submit(function( event ) {
        alert( "Handler for .submit() called." );
        event.preventDefault();
    });


    Highcharts.mapChart('container', {

        title: {
            text: 'Highmaps basic lat/lon demo'
        },

        mapNavigation: {
            enabled: true
        },

        tooltip: {
            headerFormat: '',
            pointFormat: '<b>{point.name}</b><br>Lat: {point.lat}, Lon: {point.lon}'
        },

        series: [{
            // Use the gb-all map with no data as a basemap
            mapData: Highcharts.maps['custom/world'],
            name: 'Basemap',
            borderColor: '#A0A0A0',
            nullColor: 'rgba(200, 200, 200, 0.3)',
            showInLegend: false
        }, {
            name: 'Separators',
            type: 'mapline',
            data: Highcharts.geojson(Highcharts.maps['countries/gb/gb-all'], 'mapline'),
            color: '#707070',
            showInLegend: false,
            enableMouseTracking: false
        }, {
            // Specify points using lat/lon
            type: 'mappoint',
            name: 'Cities',
            color: Highcharts.getOptions().colors[1],
            data: [
                <% for(var i=0; i < GeoInfoList.length; i++) { %>
                    {name: '<%=  GeoInfoList[i].name %>' ,lat:<%=  GeoInfoList[i].lat %>,lon:<%=  GeoInfoList[i].lon %> },
                <% } %>

            ]
        }]
    });

</script>
</html>
